/* ./src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Circular Book';
  font-weight: 400;
  src: url('../font/CircularStd-Book.woff') format('woff'),
  url('../font/CircularStd-Book.woff2') format('woff2');
}

@font-face {
  font-family: 'Circular Bold';
  font-weight: 800;
  src: url('../font/CircularStd-Bold.woff') format('woff'),
  url('../font/CircularStd-Bold.woff2') format('woff2');
}

/* CHECKBOX TOGGLE SWITCH */
/* @apply rules for documentation, these do not work as inline style */
.toggle-checkbox:checked {
    @apply: right-0 border-green-400;
    right: 0;
    border-color: #68D391;
  }
  .toggle-checkbox:checked + .toggle-label {
    @apply: bg-green-400;
    background-color: #68D391;
  }

  .cursor {
    position: fixed;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: black;
  }